body {
	margin: 0;
	font-size: 12px;
	line-height: normal;
	font-family: Verdana, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-image: url("BackgroundCoffee.jpg");
	
}


.gridContainer {
	width: 89%;
	max-width: 1000px;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	clear: none;
	float: none;
	background-color: #C6A06D;
	text-align: center;
	padding-left: 0.489pt;
	padding-right: 0.489pt;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
	color:#fff;
}
 

#coffeeLogo  {
	float: left;
	width: 25%;
	 
}

#socialMedia {
	float:right:
	width:60%;
	margin-top:15%;
	margin-bottom:5px;
	margin-left:5%;
}
 
 
.swiper-container { 
         width: 100%; 
         height: 100%; 
	 float:left;
          
} 

.swiper-wrapper { 
         width: 100%; 
         height: 100%; 
	 float:left;
          
} 
.swiper-slide { 
         text-align: center; 
         font-size: 12px; 
	background: #eee; 

}

ol,ul {
	list-style:none;
	float: left;
}
#CCtag {
	float:right:
	margin-top:80%;
	border-radius:5px;
}

a{
	text-decoration: none;
}


input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}

#img1 {  
margin-top: 50px;
margin-left: 100px; 
	/* Firefox */
	-moz-transition: all 3s;
	/* WebKit - Chrome and Safari */
	-webkit-transition: all 1s;
	/* Opera */
	-o-transition: all 1s;
	/* general syntax */
	transition: all 1s;

}
 

 
 

#section1, #section2, #section3, sectionMain {
  	float:left;
	width:100%;
	
}

 


#sectionLocations1 {
	width:95%;
	margin-left:2%;
	margin-right:2%;
	margin-top:5%;
	float:left;
	height:50%;
}

#sectionLocations2 {
	width:90%;		  
	float:left; 	 
	margin-top:2px;
	margin-left:5%;
	margin-right:5%;
	overflow-y: scroll; 	  
}

 
#sectionFavorites1 {
	width:100%;	 	 
	margin-top: 2px;	  
	float:left; 
	height:35%;
	background-color: #C6A06D;
	 
	  
}
#sectionAccount2{
	width:65%;
	height:95%;	 	  
	float:left;
	margin-top:10%;	
	margin-left:25%; 
	background-color: #C6A06D;
	overflow-y: scroll; 	
	  
}
#sectionHome1{
	width:65%;	 
	height:65%;	  
	float:right;	 
	margin-top:5%;	 	
	margin-right:15%;
	background-color: #C6A06D;
	overflow-y: scroll;
	 	  
}

#sectionHome2{	 	  
	float:left; 
	 
}

#sectionHome3{	 	  
	float:left; 	 
	margin-right:10px;	  
}

#sectionFavorites3 {
	width:100%;	 	  
	float:left;  
	height:270px;
	background-color: #C6A06D;
	overflow-y: scroll;
}

#sectionMenu1{
	width:100%; 		  
	float:left; 
	height:120px;
	background-color: #C6A06D;	  
}

#sectionMenu2-1, #sectionMenu2-2{
	width:65%;	 	  
	float:left; 
	height:490px;
	margin-left:20%;	 
	background-color: #C6A06D;
	overflow-y: scroll;	  
}
 
#sectionMenu2-1 h2 {
	color:white;
}

#sectionMenu2-2 h2 {
	color:white:
}

#addFav1, #addFav2 {
	float:right:
	padding:0;
}

 
 
#icon1, #icon2, #icon3, #icon4{
	float:left;
	width:25%;	 	 
	margin-top: 20px;
	clear: none;  
	float:left; 
	height:100%;    
	color: white;
	font-size: 26px;
	line-height: normal;
	font-weight:Bold;
	background:none;
	border:none;
	font-family: Verdana, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

#sideBarLeftMain {
	width:100%;	 	 
	margin-top: 10px;
	clear: none;  
	float:left; 
	height:100%;         
}

#sideBarRightMain {
	width:100%;	 	 
	margin-top: 10px;
	clear: none;  
	float:left; 
	height:40%; 
	overflow-y: scroll; 
	height:210px; 
}

 

#sideBarLeft, #sideBarRight {
	width: 40%;
	margin-left: 1%;
	margin-top: 10px;
	clear: none;
	border: 2px solid #333333;
	padding: 10px;
	-webkit-box-shadow: 3px 3px 5px 2px #999;
	-moz-box-shadow: 3px 3px 5px 2px #999;
	box-shadow: 3px 3px 5px 2px #999;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	font-size: 16px;
	font-style: italic;
	text-align: left;
	float:left;

        
}

#sideBarLeft2, #sideBarRight2 {
	width: 40%;
	margin-left: 1.0989%;
	margin-top: 10px;
	clear: none;
	border: 2px solid #333333;
	padding: 10px;
	-webkit-box-shadow: 3px 3px 5px 2px #999;
	-moz-box-shadow: 3px 3px 5px 2px #999;
	box-shadow: 3px 3px 5px 2px #999;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	font-size: 16px;
	font-style: italic;
	text-align: left;
	float:left;	 
}


#toggle1, #toggle2, #toggle3, #toggle4,#toggle5, #toggle6, #toggle7, #toggle8, #toggle9, #toggle10, #toggle11 {
 width: 100%;
 height: 100%;
 
}

 
 

	
button {
	border: none;
	padding: 0.6em 1.2em;
	  
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	 
	border-radius: 2px;
}

button:hover {
	background: #2c774b;
}

.coffeeicons {
	 	 
	margin: 1px;
	padding: 1px;
	 

}

.results {
	color: white;
	font-size: 18px;
	line-height: normal; 
	background: white;
	border:none;
	margin-left: 1px;
	text-align:left;
	font-family: Verdana, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.drinks {
	color: black;
	font-size: 14px;
	line-height: normal; 
	background: white;
	border:none;
	margin-left: 1px;
	text-align:left;
	font-family: Verdana, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

#icon3, #icon2, #icon1 {
	color: white;
	font-size: 26px;
	line-height: normal;
	font-weight:Bold;
	background:none;
	border:none;
	font-family: Verdana, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

#results1, #results2, #results3, #results4, #results5,#results6 {
	width: 98%;
}

#drinks1, #drinks2, #drinks3, #drinks4, #drinks5,#drinks6 {
	width: 98%;
}

.resultsImage {
	width:100%;
}

 
#resize1, #resize2, #resize3, #resize4, #resize5, #favorites{
 
	width:30%;
	/* Firefox */
	-moz-transition: all 3s;
	/* WebKit - Chrome and Safari */
	-webkit-transition: all 1s;
	/* Opera */
	-o-transition: all 1s;
	/* general syntax */
	transition: all 1s;
}


.pic {

	
	margin-left: 30px;
	/*Firefox*/
	-moz-transform: scale(2,2);
	/*WebKit - Chrome and Safari*/
	-webkit-transform: scale(2,2);
	/*Internet Explorer 9*/
	-ms-transform: scale(2,2);
	/*Opera*/
	-o-transform: scale(2,2);
	/*general syntax*/
	transform: scale(1.2,1.2);
}

 
 

.button  {
	font-size: 12px;
        width: 100%;
	height:100%;
	padding: 5px;
	font-weight: normal;
	align:left;
	border: 0;
	color: #000;
	border-radius: 10px;
	box-shadow: inset 0px 1px 3px #fff, 0px 1px 2px #000;
	background: #adcee6;
 	opacity: 1;
}
		
.active, .button:active {
	box-shadow: inset 0px 1px 3px #000, 0px 1px 2px #fff;
}

.hidden {
	display: none;
}

/* Footer */
#footer {
	width: 100%;	
}
#ad {
width: 100%;
}
 
 
}
.hide_desktop {
display: none;
}
}
